@media only screen and (min-width: 450px){
        h1 {
            font-size: 2rem;
        }
        nav a {
            font-size: 1.1rem;
        }
        
        main{
            display: grid;
            grid-template-columns:1fr 1fr;
        }
        
        .name{
            font-size: 30px;
         }
 
        header {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
        .contrast {
            grid-column: 1/3;
        }
}