html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: auto;
  padding: 5px;
  min-height: 100vh;
  background: #555;
}

.content {
  max-width: 800px;
  margin: auto;
  background: white;
  padding-right: 30px;
   padding-left: 90px;
   padding-top: 30px;
   padding-bottom: 30px;
}
h1 {
  color: white;
  margin: 0, auto;
   background-color: DodgerBlue;
   width:400px;
   height: 50px;
   padding-right: 40px;
   padding-left: 210px;
   padding-top: 40px;
   padding-bottom: 40px;
   border-radius: 25px;
   box-shadow: 0px 0px 15px 15px rgb(192, 186, 186);

}       

footer {
  margin: 0, auto;
   background-color: DodgerBlue;
   width:400px;
   height: 10px;
   padding-right: 30px;
   padding-left: 90px;
   padding-top: 30px;
   padding-bottom: 30px;
   border-radius: 25px;
   box-shadow: 0px 0px 15px 15px gray;
   line-height: 30%;
}
