html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 153, 110);
  }
  
  div {
    background-color: rgb(247, 240, 109);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }
  h2, h4, a, p {
    padding-left: 10px;
    color: rgb(48, 116, 115);
  }
  .header1{
    background-color: rgb(247, 153, 110);
    margin-top: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  body {
    display: grid;
    
    grid-template-rows: 1fr auto 100px ;
    margin: auto;
    padding: 5px;
    min-height: 100vh;
    
  }
  body {
    width: 1240px;
    background-color: rgb(48, 116, 115);
    text-align: center;
  }
  
  .title {
    border-bottom: solid;
    border-color: rgb(247, 153, 110);
    text-shadow: 2px 2px rgb(247, 153, 110);
  }
  a {
    color: rgb(247, 153, 110);
    padding-right: 10px;
    
  }
  a:hover {
    color: dodgerblue;
  }
  main {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-row: 2;
    grid-column: 2/3;
    text-align: left;
    padding-top: 30px;
    color: white;
    column-gap: 20px;
    padding-bottom: 60px;
    
  }
  
  header {
    display: grid;
    grid-row: 1;
    grid-column: 1/4;
    grid-template-columns: 1fr 700px 1fr;
  }       
  .design {
    grid-row: 1;
    grid-column: 2;
    padding-left: 90px;
    padding-top: 45px;
    grid-row: 1;
    grid-column:2/3; 
    width: 600px;
    color: rgb(48, 116, 115);
  }
  .me {
    grid-row: 1;
    grid-column:1 ;
    padding: 40px;
    grid-row: 1;
    grid-column:2/3; 
    height: 172px;
    width: 127px;
  }
  .name {
    grid-row: 1;
    grid-column:2/3 ;
    color: rgb(48, 116, 115);
    margin: 0, auto;
    height: 50px;
    padding: 80px;
    padding-left: 150px;
  
    background-color: rgb(247, 240, 109);
    border-radius: 25px;
    box-shadow: 0px 0px 15px 15px rgb(82, 78, 78);
  }
  
  footer {
    color: rgb(48, 116, 115);
    text-align: center;
    margin: 0, auto;
    background-color: rgb(247, 240, 109);
    padding-top: 35px;
    height: 55px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 0px 15px 15px rgb(82, 78, 78);
    padding-top: 20px;
    line-height: 30%;
    grid-row: 3;
    grid-column: 2;
    
  }

  .amazonimg{
    height: 844px;
    width: 400px;
    padding-top: 10px;

  }

  p {
    padding-right: 10px;
  }
 