@media only screen and (min-width: 64rem) {
   header {
    border: none;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 0px;
    column-gap: 0px;
   }
nav button {
  display: none;
}

.primaryNav {
  display: flex;
  text-align: center;
}

nav a {
    font-size: 1.6em;
border-radius: 15px;
text-decoration: none;

}
ul{
  display: flex;
  flex-direction: row;
  
}

nav a:hover {      
  color: #36454f; 
  } 


.banner_img{
width: 100%;
}
.mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-bottom: 100px;

    background-size: cover;
    background-repeat: no-repeat;
} 
.fruit_drink{
  width: 35%;
  grid-row: 1/3;
  padding-left: 150px;
  padding-top: 45px;
}
.drink {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 300px 100px;
}
.pdrink {
  font-size: 3em;
  margin: 0px;
  padding: 50px 0px 0px 15px;
}
.drinkbutton{
  grid-row: 2;
  grid-column:2;
 width: 50%;
 height: 50%;
 justify-content: center;
 padding-top: 15px;
}

.mylogo {
  grid-column: 1;}

.links {
  font-size: 1.4em;
  padding: 100px 0px 100px 0px;
}
.action_head,
.summary_head,
.weather_head {
  font-size: 4em;
}
.weather_div{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 200px 200px ;
}
.weather {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;

  grid-row: 1/3;
}
.hum{
grid-row: 2;
grid-column: 2;
padding:0px 0px 0px 65px;
}
.temp{
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  padding-top: 100px;
  font-size: 2em;
}
.icon{
  padding-top: 70px;
width: 200%;
}
.summary {
  display: grid;
  grid-template-columns:1fr 1fr;
}
.head_title{
grid-column: 2;
grid-row: 1;
padding-left: 15px;
padding-top:  140px;
margin: 0%;
font-size: 2em;
}
.beach_text {
  font-size: 1.5em;

  grid-column: 2;
  grid-row: 2;
  margin: 0%;
  padding: 0px 0px 0px 15px;
}
.beach{
  grid-column: 1;
  grid-row: 1/3;
}
.navbar{
  grid-column: 2;
  font-size: 2em;
  padding-top: 100px;
}

.topNav {
 padding: 0px;
}
.logos{
 
  grid-column: 3;
  
}
nav {
  text-align: center;
  text-decoration: none;
}

  footer {
    display: grid;
    grid-template-columns: 1fr ;
    padding-top: 150px;
    padding-top: 10px;
    background-color:#0f6c1e;

  }
  
  .info{
    text-align: center;
    padding-top: 0px;
    grid-column: 1;
    grid-row: 3;
  }
  .address {
    text-align: center;
    padding-top: 0px;
    grid-column: 1;
    grid-row: 2;
    font-style: italic;
    font-weight: 600;
  }
  .logofoot{
    grid-column: 1;
    grid-row: 1;
    width: 40%;
    padding-left: 470px;
  }
  
  .foot {
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    justify-content: center;
    text-align: center;
    background-color:white;
    color: black;
    border-top: #ffc53f solid 5px;
    grid-row: 4;
    grid-column: 1/4;
  }
  /*------about us------*/
  .contact  {
    text-align: center;
  }
  .map_cont{
    text-align: center;
  }

  .about {
    display: grid;
    grid-template-columns:1fr 1fr;
  }
  .about_t{
  grid-column: 2;
  grid-row: 1;
  padding-left: 15px;
  padding-top:  140px;
  margin: 0%;
  font-size: 2em;
  }
  .about_p {
    font-size: 1.5em;
  
    grid-column: 2;
    grid-row: 2;
    margin: 0%;
    padding: 0px 0px 0px 15px;
  }
  .about_img{
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
  }

}
