html {
    width: 100%;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }
  img{
    width: 100%;
  }


  main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    column-gap: 15px;
    row-gap: 10px;
    height: auto;
    
  }

header {
  background-image: url('../images/tetonback1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.mainDiscover {
  background-image: none;
  height: auto;

}

.mainIndex {
  padding-bottom: 10px;
  padding-top: 10px;
  background-image: url('../images/moosesmall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: #ffc53f solid 5px;
}



div {
    
    padding: 10px;
    row-gap: 10px;
}
.spotlight {
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-column: 1/3;
    
}

.spotlight div {
    flex: 1;
}
nav {
  font-size: smaller;
  border-radius: 0px ;
	margin: 0 auto;
    padding: 0px
}
nav button:hover {
    background-color: #ffc53f;
    transition-duration: 0.5s;
}
nav button {
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  padding: 10px;
}
nav ul li a {
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
  display: flex;
}
nav ul {
  display: none;
}

nav ul.open {display: block;}

.linkedin{
  width: 45px;
  height: 45px;
}

.facebook{
  width: 50px;
  height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
 
  }

  li a:hover {
    background-color: #ffc53f;
    transition-duration: 0.5s;
  }
  

  .linkedin:hover{
    background-color: #1618a9;
    transition-duration: 0.5s;
  }
  .facebook:hover{
    background-color: #1618a9;
    transition-duration: 0.5s;
  }

  .hero {
    background-color:#6c969d;
    font-size: smaller;
    grid-row: 1;
    /* background-image: url('../images/driggsid.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr 70px;
}
p{
  font-size: larger;
}
.herobutton {
  padding: 20px;
  background: #faff81;
  border: none;
  color: black;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 900;
  padding: 30px 70px;
  transition-duration: 0.4s;
  box-shadow: 0px 0px 15px 15px rgb(39, 38, 38)
}
.herobutton:hover {
  background-color: #ffc53f;
  }
.event{
  background-color:#6c969d;
    grid-row: 2;
}
.weather{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px ;
  background-color:#6c969d;
    grid-row: 3;
}
.release{
  background-color:#6c969d;
    grid-row: 4;
}
.join{
  background-color:#6c969d;
    grid-row: 5;
    text-align: center;
    padding-top: 25px;
}
.pjoin{
  font-size: large;
}
.joinbutton {
  background: #faff81;
  border: none;
  color: black;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 900;
  padding: 30px 70px;
  transition-duration: 0.4s;
  box-shadow: 0px 0px 15px 15px rgb(39, 38, 38)
  
}
.joinbutton:hover {
background-color: #ffc53f;

}

  .spotlight1{
    background-color:#6c969d;
    grid-row: 6;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.spotlight2{
  background-color:#6c969d;
    grid-row: 7;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.spotlight3{
  background-color:#6c969d;
    grid-row: 8;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.icon {
  grid-column: 1;
  grid-row: 2;
  width: 50%;
 padding-left: 40px;
}
.temp{
  grid-column: 2;
  grid-row: 2;
  padding-left: 10px;
  padding: 0px;
  text-align: left;
  font-size: 35px;
}
.cloudy{
  grid-column: 1/3;
  grid-row: 3;
  text-align: center;
  margin: 0%;
  padding-top:  30px;
  padding-left: 150px;
  padding-bottom: 30px;
  border-bottom: solid black;
  font-weight: 600;
  font-size: 25px;
}
.wind {
  grid-column: 1;
  grid-row: 4;
  text-align: center;
  padding-top: 20px;
  margin: 0%;
  font-size: 20px;
}
.mph {
  grid-column: 2;
  grid-row: 4;
  font-size: 20px;
}
.windchill {
  grid-column: 1;
  grid-row: 5;
  text-align: center;
  margin: 0%;
  font-size: 20px;
}
.perc {
  grid-column: 2;
  grid-row: 5;
  margin: 0%;
  font-size: 20px;
}
footer {
  display: grid;
  grid-template-columns: 1fr ;
  padding-top: 150px;
  border-top: black solid 5px;
}

.info{
  text-align: center;
  padding-top: 0px;
  grid-column: 1;
  grid-row: 3;
}
.address {
  text-align: center;
  padding-top: 0px;
  grid-column: 1;
  grid-row: 2;
  font-style: italic;
  font-weight: 600;
}
.logofoot{
  grid-column: 1;
  grid-row: 1;
}

.event,
.weather,
.join, 
.release,
.spotlight1,
.spotlight2,
.spotlight3 {
  opacity: 0.7;
  font-style: italic;
  color: #faff81;
}

footer{
  padding-top: 10px;
}
.foot {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  justify-content: center;
  text-align: center;
  background-color:#6c969d;
  color: white;
  border-top: black solid 5px;

  grid-row: 4;
  grid-column: 1/4;
}

time{
  padding: 0px 0px 0px 50px;
  color: white;
  
}

.topnav{

  font-size: 25px;
  font-weight: 700;
  grid-column: 2;
  grid-row: 2;
 
}
.logos {
  padding-left: 15px;
}
.mylogo {grid-column: 2;}
.logo{
  width: 100%;
}
.mainback {
  background-color: #6c969d;
  grid-column: 1/4;
  grid-row: 1/4;
  justify-content: center;
  display: grid;
}

.titleDiscover{
  grid-column: 2;
  grid-row: 1;

}
.divSpud {
  grid-column: 2;
  grid-row: 2;

}
.divGeo{
  grid-column: 2;
  grid-row: 3;
}
.divLeigh {
  grid-column: 2;
  grid-row: 4;
}
.divMuseum{
  grid-column: 2;
  grid-row: 5;
}
.divTrail {
  grid-column: 2;
  grid-row: 6;
}
.divFalls {
  grid-column: 2;
  grid-row: 7;

}

.title1{
grid-column: 2;
grid-row: 1;
font-size: 2.1em;
text-align: center;
  }
.mainDiscover{
  border-top:  5px solid #ffc53f;
  padding-top: 0px;
}
.mainback img:hover {
  width: 104%;
  border-radius: 15px;
  transition: 1s;
}
.titleDiscover{
  font-size: 5em;
  padding-left: 200px;
  color: #faff81;
  margin-bottom: 0px;
}
.mainback p {
  color: #faff81;
}

.mainback h2 {
  color: #faff81;
}